.banner{
  	background-image: url(../../images/background.jpg);
  	background-size: cover;
  	color: black;
  	font-size: 20px;
  	font-weight: lighter;
	text-align: center;
	font-family:Big Shoulders Text;
	line-height:70px
}

.banner h1{
	font-size:80px;
	font-family: Mansalva;
}

.banner h2{
	font-size:30px;
	font-family:Big Shoulders Text;
	opacity: 0.8;
	text-align: center;
}

.banner a{
	text-decoration: none;
}